.modal {
  position: absolute;
  border-radius: 20px;
  padding: 30px;
  margin-left: 13vw;
  margin-top: 1vh;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 음영 추가 */
}
