.profileBox {
  text-align: center;
  padding: 0 25vw;
}

.imgLogo {
  width: 7vw;
  margin: 20px;
  margin-bottom: 0px;
}

.main {
  // border: 1px dashed rgba(29, 177, 119, 0.3);
  border-radius: 10px;
  margin-bottom: 10px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2.5fr; /* 1:2비율 */
  gap: 0px; /* 셀 간격 */
}

.gridItem {
  font-size: 15px;
  line-height: 1.8;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nicknameInput {
  background-color: transparent;
  height: 30px;
  width: 200px;
  border: 1px dashed rgba(217, 217, 217, 0.7);
  border-radius: 3px;
}

.nicknameInput:hover {
  border: 1px dashed rgba(29, 177, 119, 0.5);
}

.nicknameInput:focus-visible  {
  outline: none!important;
  border: 1px solid rgba(29, 177, 119, 0.7);
  box-shadow: 1px 1px 1px 0px rgba(29, 177, 119, 0.3);
}

.profileImageBox {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid rgba(217, 217, 217);
  background-color: rgba(217, 217, 217, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 3px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 0px rgba(29, 177, 119, 0.5);
  font-weight: bold;
}

.buttonLine {
  border-bottom: 1px solid rgba(29, 177, 119, 0.7);
  margin: 10px 0;
  width: 20px;
}

.tasteBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
}

.babyImg {
  width: 20px;
  margin-right: 3px;
}

.pepperImg {
  width: 11px;
  margin-right: 5px;
}

.twopepperImg {
  width: 11px;
  margin: 0;
}

.allergyBox {
  width: 580px;
  height: 240px;
  overflow: auto;
}

.allergyBox::-webkit-scrollbar {
  width: 8px;
}

.allergyBox::-webkit-scrollbar-thumb {
  background-color: rgba(29, 177, 119, 0.3);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.allergyBox::-webkit-scrollbar-thumb:hover {
  background-color: rgba(29, 177, 119, 0.5);
}

.allergyBox::-webkit-scrollbar-track {
  background-color: rgba(220, 220, 220, 0.7);
  border-radius: 10px;
  /* box-shadow: inset 0px 0px 5px white; */
}

.allergyButton {
  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  margin: 10px;
  margin-bottom: 13px;
}

.allergyButton:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(29, 177, 119, 0.5);
  font-weight: bold;
}

.allergyImg {
  width: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.allergyName {
  font-size: 12px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -7px;
  text-shadow:
    -2px 0 #ffffff,
    0 2px #ffffff,
    2px 0 #ffffff,
    0 -2px #ffffff;
}
