.wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  margin-left: 1vw;
  margin-top: 1vh;
  padding: 30px;
  z-index: 4;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 음영 추가 */

  .content {
    display: flex;
    align-items: center;
    margin: 5px;
    border-bottom: 1px #bfbfbf solid;
    .item {
      margin-left: 10px;
    }
  }
}
