.box {
  position: absolute;
  top: 20vh;
  left: 31vw;
  z-index: 1;
  border: 2px solid #1db177;
  border-radius: 15px;
  background-color: white;
  opacity: 0.7;
  display: flex;
  justify-content: space-around;
  .avatar {
    padding: 20px;
  }
  .info {
    padding: 20px;
    .nickname {
      font-size: 20px;
      font-weight: bold;
    }
    .follower {
      display: flex;
      align-items: center;
      font-size: 15px;
    }
  }
}
