.wrapper {
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }
    .rank {
      font-style: oblique;
      font-weight: bold;
      color: rgba(#063925, 1);
    }
    .name {
      margin-left: 5px;
      color: rgba(#063925, 1);
    }
    .follower {
      display: flex;
      align-items: center;
      color: rgba(#1db177, 0.7);
    }
  }
}
