.wrapper {
  overflow-y: auto;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    .user {
      display: flex;
      align-items: center;

      .info {
        margin-left: 1.5rem;

        h4 {
          margin: 0;
        }
      }
    }
  }

  .addBtn:hover {
    cursor: pointer;
  }
}
